nextflow.enable.dsl = 2
outputDir = 'results'
params {
    samplesheet = null
    counts = null

    // clean_raw_counts
    aggregate_rows_with_duplicate_gene_names = true
    cleanup_column_names = true
    split_gene_name = true
    gene_name_column_to_use_for_collapsing_duplicates = ''

    // filter_counts
    filter_group_colname = 'Group'
    filter_label_colname = null
    filter_minimum_count_value_to_be_considered_nonzero = 8
    filter_minimum_number_of_samples_with_nonzero_counts_in_total = 7
    filter_minimum_number_of_samples_with_nonzero_counts_in_a_group = 3
    filter_use_cpm_counts = true
    filter_use_group_based = false

    // normalize_counts
    norm_group_colname = params.filter_group_colname
    norm_label_colname = params.filter_label_colname
    norm_input_in_log_counts = false
    voom_normalization_method = 'quantile'

    // batch_correct_counts
    batch_covariates_colnames = 'Group'
    batch_colname = 'Batch'
    batch_label_colname = 'Label'
    batch_colors_for_plots = null

    // diff_counts
    diff_covariates_colnames = "Group,Batch"
    diff_contrast_colname = "Group"
    diff_contrasts = "B-A,C-A,B-C"
    diff_input_in_log_counts = false
    diff_return_mean_and_sd = false
    diff_voom_normalization_method = 'quantile'

    // filter_diff
    filter_diff_significance_column = 'adjpval'
    filter_diff_significance_cutoff = 0.05
    filter_diff_change_column = 'logFC'
    filter_diff_change_cutoff = 1
    filter_diff_filtering_mode = 'any'
    filter_diff_include_estimates = 'FC,logFC,tstat,pval,adjpval'
    filter_diff_round_estimates = true
    filter_diff_rounding_decimal_for_percent_cells = 0
    filter_diff_contrast_filter = 'none'
    filter_diff_contrasts = null
    filter_diff_groups = null
    filter_diff_groups_filter = 'none'
    filter_diff_label_font_size = 6
    filter_diff_label_distance = 1
    filter_diff_y_axis_expansion = 0.08
    filter_diff_fill_colors = 'steelblue1,whitesmoke'
    filter_diff_pie_chart_in_3d = true
    filter_diff_bar_width = 0.4
    filter_diff_draw_bar_border = true
    filter_diff_plot_type = 'bar'
    filter_diff_plot_titles_fontsize = 12

    // Boilerplate options
    outputDir = 'results'
    tracedir = "${params.outputDir}/pipeline_info"
    publish_dir_mode = 'link'

    container = 'nciccbr/mosuite:v0.2.0.9000_3807d01'
}

includeConfig 'conf/base.config'

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    docker {
        docker.enabled = true
        // Avoid this error:
        //   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
        // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
        // once this is established and works well, nextflow might implement this behavior as new default.
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = null // overridden by profiles: biowulf, frce, & slurmint
        envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
    }
    biowulf {
        includeConfig "conf/biowulf.config"
    }
    slurm {
        includeConfig "conf/slurm.config"
    }
    interactive {
        includeConfig "conf/interactive.config"
    }
    test {
        includeConfig "conf/test.config"
    }
    ci_stub {
        includeConfig "conf/ci_stub.config"
    }
}

includeConfig 'conf/modules.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/pipeline_dag_${trace_timestamp}.png"
}

plugins {
  id 'nf-schema@2.2.1'
  id 'nf-prov@1.4.0'
}
validation {
    help {
        enabled = true
    }
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.tracedir}/bco.json"
            overwrite = true
        }
        dag {
            file = "${params.tracedir}/dag.html"
            overwrite = true
        }
    }
}

String pipeline_version = new File("${projectDir}/VERSION").text

manifest {
    name = "CCBR/MOSuite-Nextflow"
    author = "CCR Collaborative Bioinformatics Resource"
    homePage = "https://github.com/CCBR/MOSuite-Nextflow"
    description = "Nextflow pipeline for differential multi-omics analysis"
    mainScript = "main.nf"
    defaultBranch = "main"
    version = "${pipeline_version}"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

workflow.output.mode = params.publish_dir_mode
